{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <div class="hero-content">

            <h1>Find Your Dream Job</h1>

            <p>
                Discover thousands of job opportunities from trusted companies.
            </p>

            <form class="search-form">

                <input
                        type="text"
                        placeholder="Job title">

                <input
                        type="text"
                        placeholder="Location">

                <button>
                    Search
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}