{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <div class="hero-content">

            <h1>Find Your Dream Job</h1>

            <p>
                Discover thousands of job opportunities from trusted companies.
            </p>

            <form class="search-form">

                <input
                        type="text"
                        placeholder="Job title">

                <input
                        type="text"
                        placeholder="Location">

                <button>
                    Search
                </button>

            </form>

        </div>

    </div>

<section class="categories">

    <div class="container">

        <h2 class="section-title">
            Popular Categories
        </h2>

        <div class="category-grid">
            <div class="category-card">
                💻 IT & Software
            </div>
            <div class="category-card">
                🎨 Design
            </div>
            <div class="category-card">
                📈 Sales
            </div>
            <div class="category-card">
                📢 Marketing
            </div>
            <div class="category-card">
                💰 Finance
            </div>
            <div class="category-card">
                📦 Logistics
            </div>
            <div class="category-card">
               🏥 Healthcare
            </div>
            <div class="category-card">
               ⚖️ Legal
            </div>


        </div>

    </div>

</section>

{% endblock %}